.modal-btn {
  height: 180px;
  width: auto;
  /* border: 1px solid black; */
  border-radius: 5px;
  z-index: -1;
}

.modal-btn:hover {
  transform: scale(1.2);
}

/* Focus Card Styling */

.overlay {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  opacity: 1;
  z-index: 1;
  background-color: rgba(200, 200, 200);
  /* display: none; */
}

.modal-container {
  width: 100%;
  height: 700px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 110px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 15px;
}

.closeBtn {
  float: right;
  margin-right: 8px;
}

.closeBtn button {
  background-color: transparent;
  width: 15px;
  border: none;
  font-size: 25px;
  font-weight: 600;
  cursor: pointer;
}
.beer-title {
  font-size: 30px;
  display: block;
  text-align: center;
}

.beer-title > h4 {
  margin: 5px 0px 10px 20px;
}

.beer-img {
  height: 200px;
  border: 1px solid black;
}
.about-beer {
  margin-left: 5px;
  font-size: 25px;
}

.beer-description {
  font-size: 20px;
  margin-left: 5px;
}

.card-stats {
  font-size: 15px;
}

.card-info-container {
  /* position: absolute; */
  bottom: 10px;
  width: 100%;
}

.card-info-container > h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(168, 164, 164);
  font-size: 20px;
  height: 50px;
}

.card-stats > ul {
  padding: 0;
  margin: 5px 5px 0 0;
}

.card-stats > ul > li {
  /* border: 1px solid aqua; */
  margin: 5px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

@media screen and (max-width: 1440px) {
  .modal-container {
    width: 300px;
    height: 600px;
  }
};

@media screen and (max-width: 600px) {
  .modal-container {
  }

}
