main {
  background-image: url("/src/images/beer-image-2.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

main > h1 {
  color: ;
}

/* Toggle Light/Dark Mode */
